{% extends 'base.html' %}

{% block title %}Test Cases{% endblock %}

{% block content %}
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <h2 class="mdc-card__title mdc-card__title--primary">Test Cases for {{ project.name }}</h2>
        <a href="{% url 'create' project.id %}" class="mdc-button mdc-button--raised">Create New Test Case</a>
        <ul>
            {% for test_case in object_list %}
                <li>
                    <a href="{% url 'test_case_detail' test_case.id %}">{{ test_case.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}